@font-face {
  font-family: 'regloregular';
  src: url('../fonts/reglo.otf') format('otf');
  src: url('../fonts/reglo.woff2') format('woff2'), url('../fonts/reglo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes loading {
  0% {
    transform: translateX(0%) rotateY(-1500deg);
  }
  100% {
    transform: translateX(0%) rotateY(0);
  }
}
@keyframes blurout {
  0% {
    filter: blur(0);
    -webkit-filter: blur(0);
  }
  100% {
    filter: blur(30px);
    -webkit-filter: blur(30px);
  }
}
@keyframes loadingreverse {
  0% {
    transform: translateX(0) rotateY(1700deg);
  }
  100% {
    transform: translateX(0%) rotateY(0);
  }
}
@keyframes rotatestripes {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@keyframes rotateglobe {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes allfoundone {
  0% {
    background-color: #b31a8d;
  }
  20% {
    background-color: rgba(179, 26, 141, 0.5);
  }
  40% {
    background-color: #b31a8d;
  }
  60% {
    background-color: rgba(179, 26, 141, 0.5);
  }
  80% {
    background-color: #b31a8d;
  }
  80% {
    background-color: rgba(179, 26, 141, 0.5);
  }
  100% {
    background-color: #b31a8d;
  }
}
@keyframes allfoundtwo {
  0% {
    background-color: #efe633;
  }
  20% {
    background-color: rgba(239, 230, 51, 0.5);
  }
  40% {
    background-color: #efe633;
  }
  60% {
    background-color: rgba(239, 230, 51, 0.5);
  }
  80% {
    background-color: #efe633;
  }
  80% {
    background-color: rgba(239, 230, 51, 0.5);
  }
  100% {
    background-color: #efe633;
  }
}
@keyframes allfoundthree {
  0% {
    background-color: #60a0b6;
  }
  20% {
    background-color: rgba(96, 160, 182, 0.5);
  }
  40% {
    background-color: #60a0b6;
  }
  60% {
    background-color: rgba(96, 160, 182, 0.5);
  }
  80% {
    background-color: #60a0b6;
  }
  80% {
    background-color: rgba(96, 160, 182, 0.5);
  }
  100% {
    background-color: #60a0b6;
  }
}
@keyframes changedarkbg {
  0% {
    background-color: #111;
  }
  35% {
    background-color: #000;
  }
  70% {
    background-color: #222;
  }
  100% {
    background-color: #111;
  }
}
@keyframes changebgcolour {
  0% {
    background-color: #B20099;
  }
  35% {
    background-color: #EFE633;
  }
  70% {
    background-color: #60A0B6;
  }
  100% {
    background-color: #B20099;
  }
}
