@font-face {
  font-family: 'regloregular';
  src: url('../fonts/reglo.otf') format('otf');
  src: url('../fonts/reglo.woff2') format('woff2'), url('../fonts/reglo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body,
html {
  height: 100%;
  font-size: 14px;
}
body,
a,
li,
ul,
canvas,
header,
footer,
figure,
article,
div,
p,
span {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'regloregular';
  margin: 0;
  padding: 0;
}
a:hover,
a:active {
  cursor: pointer;
}
input,
textarea {
  outline: none;
  border: 1px solid #F9F9F9;
  padding-left: 15px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
}
input:focus,
textarea:focus {
  outline: none;
}
label {
  color: #666;
  font-size: 15px;
  font-weight: 300;
}
label span {
  color: #BBB;
  font-size: 11px;
}
input[type=submit] {
  cursor: pointer;
}
.container {
  height: auto;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@keyframes loading {
  0% {
    transform: translateX(0%) rotateY(-1500deg);
  }
  100% {
    transform: translateX(0%) rotateY(0);
  }
}
@keyframes blurout {
  0% {
    filter: blur(0);
    -webkit-filter: blur(0);
  }
  100% {
    filter: blur(30px);
    -webkit-filter: blur(30px);
  }
}
@keyframes loadingreverse {
  0% {
    transform: translateX(0) rotateY(1700deg);
  }
  100% {
    transform: translateX(0%) rotateY(0);
  }
}
@keyframes rotatestripes {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@keyframes rotateglobe {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
body {
  font-family: 'Noto Sans', sans-serif;
  background-image: url(../svg/hideout.svg);
  background-size: 2%;
}
.headerBtn {
  height: 50px;
  width: 50px;
  position: fixed;
  cursor: pointer;
  z-index: 99999;
  top: 20px;
  right: 20px;
}
.headerBtn .line {
  position: relative;
  background-color: #111;
  margin-top: 10px;
}
.headerBtn .line:first-child {
  margin-top: 0;
}
.headerBtn .line1 {
  height: 4px;
  width: 100%;
}
.headerBtn .line2 {
  height: 4px;
  width: 80%;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.headerBtn .line3 {
  height: 4px;
  width: 60%;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.headerBtn:hover .line2,
.headerBtn:active .line2,
.headerBtn:hover .line3,
.headerBtn:active .line3 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.headerBtn:hover .line2,
.headerBtn:active .line2 {
  height: 4px;
  width: 100%;
}
.headerBtn:hover .line3,
.headerBtn:active .line3 {
  height: 4px;
  width: 100%;
}
.header {
  height: 50px;
  width: 100%;
  position: absolute;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
  padding-top: 30px;
  z-index: 99;
  left: 0;
  right: 0;
}
.header .logo {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-image: url(../svg/logo-dark.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header .menu {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
.header .menu .menuBtn {
  font-family: 'regloregular';
  position: relative;
  font-size: 1.4em;
  color: #111;
  margin-right: 50px;
}
.header .menu .menuBtn:before {
  height: 8px;
  width: 10%;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  left: -5px;
  bottom: 0px;
  z-index: -1;
  background-color: #E500AE;
  content: ' ';
}
.header .menu .menuBtn:last-child {
  margin-right: 0;
}
.header .menu .menuBtn:hover,
.header .menu .menuBtn:active {
  color: #000;
}
.header .menu .menuBtn:hover:before,
.header .menu .menuBtn:active:before {
  height: 8px;
  width: 110%;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.headerOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  visibility: hidden;
  top: -50px;
  padding-right: 30px;
  padding-top: 30px;
  z-index: 9999;
  background-color: rgba(8, 31, 43, 0.997);
}
.headerOverlay .logo {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-image: url(../svg/logo-white.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.headerOverlay .menu {
  height: 80%;
  width: 80%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin-top: 100px;
  margin-right: 50px;
}
.headerOverlay .menu .menuBtnBox {
  height: 25%;
  width: 100%;
  position: relative;
  text-align: right;
}
.headerOverlay .menu .menuBtnBox:after {
  content: " ";
  display: block;
  clear: both;
}
.headerOverlay .menu .menuBtnBox .menuBtn {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  z-index: -1;
  background-color: rgba(8, 31, 43, 0.997);
  padding-left: 140px;
  padding-right: 30px;
  text-align: right;
  float: none;
  font-size: 3em;
  color: #EEE;
}
.headerOverlay .menu .menuBtnBox .menuBtn p {
  height: 100%;
  width: 100%;
  font-family: 'regloregular';
  position: relative;
  z-index: 0;
  color: #EEE;
}
.headerOverlay .menu .menuBtnBox .menuBtn p:before {
  height: 25px;
  width: 10%;
  position: absolute;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  left: -5px;
  top: 22px;
  z-index: -1;
  background-color: #E500AE;
  content: ' ';
}
.headerOverlay .menu .menuBtnBox .menuBtn:hover,
.headerOverlay .menu .menuBtnBox .menuBtn:active {
  color: #FFF;
}
.headerOverlay .menu .menuBtnBox .menuBtn:hover p:before,
.headerOverlay .menu .menuBtnBox .menuBtn:active p:before {
  height: 25px;
  width: 105%;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.headerOverlay .menu .menuBtnBox:before {
  height: 7px;
  width: 0%;
  position: absolute;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  left: 0;
  top: 22px;
  content: ' ';
  background-color: #FFF;
}
.headerOverlay .menu .menuBtnBox:hover:before {
  height: 7px;
  width: 100%;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.headerOverlay .meerkatsBox {
  height: 500px;
  width: 240px;
  position: absolute;
  left: 40px;
  bottom: -100px;
}
.headerOverlay .meerkatsBox .meerkats {
  height: 320px;
  width: 240px;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/meerkats.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.menuActive {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  visibility: visible;
}
.menuActive .line {
  background-color: #FFF;
}
.active {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  visibility: visible;
  top: 0;
}
.lighterHeader .logo {
  background-image: url(../svg/logo-white.svg);
}
.lighterHeader .menu .menuBtn {
  color: #EEE !important;
}
.darkFirstSection {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-color: rgba(0, 0, 0, 0.98);
}
.darkFirstSection .socialIcons .facebook {
  background-image: url(../svg/social-media-facebook-white.svg);
}
.darkFirstSection .socialIcons .instagram {
  background-image: url(../svg/social-media-instagram-white.svg);
}
.sectionTitle {
  height: auto;
  width: 100%;
  color: #111;
  font-size: 3em;
  margin-bottom: 50px;
}
.sectionTitle:after {
  content: " ";
  display: block;
  clear: both;
}
.firstSection {
  height: 100%;
  width: 100%;
  position: relative;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
}
.firstSection .titlesBox {
  height: 150px;
  width: 100%;
  position: relative;
  top: 270px;
  z-index: 15;
  text-align: center;
}
.firstSection .titlesBox .logo {
  height: 110px;
  width: 150px;
  margin-bottom: 30px;
  background-image: url(../svg/logo-white.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.firstSection .titlesBox .weAreBox {
  height: auto;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  filter: blur(0);
  -webkit-filter: blur(0);
  position: relative;
  top: 0;
  text-align: center;
}
.firstSection .titlesBox .weAreBox:after {
  content: " ";
  display: block;
  clear: both;
}
.firstSection .titlesBox .weAreBox .weAre {
  position: relative;
  font-family: 'regloregular';
  filter: blur(0);
  -webkit-filter: blur(0);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  display: inline-table;
  text-align: center;
  font-size: 6.2em;
  color: #000;
  margin-bottom: 10px;
  z-index: 5;
}
.firstSection .titlesBox .transparent {
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.firstSection .titlesBox .space {
  height: 20px;
  width: 30px;
  display: inline-table;
}
.firstSection .titlesBox .blurred {
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: blurout 1.2s ease-in !important;
  -webkit-animation-fill-mode: forwards !important;
}
.firstSection .titlesBox .weAreHere {
  height: auto;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
  margin-bottom: 30px;
  color: #111;
}
.firstSection .titlesBox .transparent2 {
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.firstSection .titlesBox .socialIcons {
  height: 40px;
  width: 100%;
}
.firstSection .titlesBox .socialIcons .socialBtn {
  height: 34px;
  width: 34px;
  float: left;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.firstSection .titlesBox .socialIcons .socialBtn:hover,
.firstSection .titlesBox .socialIcons .socialBtn:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.firstSection .titlesBox .socialIcons .facebook {
  background-image: url(../svg/facebook-way360.svg);
}
.firstSection .titlesBox .socialIcons .instagram {
  background-image: url(../svg/instagram-way360.svg);
}
.firstSection .videoBox {
  height: 460px;
  width: 100%;
  position: relative;
}
.firstSection .videoBox .video {
  height: 350px;
  width: 60%;
  position: absolute;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}
.firstSection .videoBox .video:before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: ' ';
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.firstSection .videoBox .video:hover,
.firstSection .videoBox .video:active {
  height: 360px;
  width: 63%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.2);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  background-size: 115%;
}
.firstSection .videoBox .video:hover:before,
.firstSection .videoBox .video:active:before {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.85);
}
.firstSection .videoBox .videoScaled {
  height: 420px;
  width: 75%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  top: 50px;
}
.firstSection .videoBox .videoScaled:before {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
}
.firstSection .videoBox .videoScaled:hover,
.firstSection .videoBox .videoScaled:active {
  height: 420px;
  width: 75%;
}
.firstSection .videoBox .videoScaled:hover:before,
.firstSection .videoBox .videoScaled:active:before {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}
.firstSection .videoBox .playBtn {
  height: 35px;
  width: 165px;
  position: absolute;
  font-family: 'regloregular';
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: block !important;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  font-size: 1.4em;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 37px;
  text-align: right;
  bottom: 100px;
  color: #000;
  background-color: #EFE633;
  background-image: url(../svg/playBtn.svg);
  background-position: 9% 50%;
  background-size: 10%;
  background-repeat: no-repeat;
}
.firstSection .videoBox .playBtnShadow {
  -webkit-box-shadow: 0px 5px 30px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 30px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 30px 6px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.firstSection .meerkatsBox {
  height: 500px;
  width: 310px;
  position: absolute;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  left: 50%;
  top: -50px;
  margin-left: -155px;
}
.firstSection .meerkatsBox .meerkats {
  height: 360px;
  width: 280px;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/meerkats.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.globe {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rotateglobe 60s infinite;
  background-image: url(../img/globe.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}
.stripes {
  height: 300px;
  width: 300px;
  position: absolute;
  animation: rotatestripes 60s infinite;
  background-image: url(../img/stripes.png);
  z-index: 5;
  bottom: 0;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.wordsGame {
  position: relative;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #111;
}
.wordsGame:after {
  content: " ";
  display: block;
  clear: both;
}
.wordsGame:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: -100px;
  left: 0;
  transform-origin: left top;
  transform: skewY(3deg);
}
.wordsGame:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}
.wordsGame .sectionTitle {
  padding-left: 250px;
  color: #FFF;
}
.wordsGame .wordsContainer {
  height: 500px;
  width: 640px;
  position: relative;
  margin: 0 auto;
  top: 20px;
}
.wordsGame .wordsContainer .row {
  height: auto;
  width: 40px;
  float: left;
  position: relative;
  z-index: 9;
}
.wordsGame .wordsContainer .found {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #B31A8D;
  color: #FFF !important;
}
.wordsGame .wordsContainer .found2 {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #EFE633;
  color: #FFF !important;
}
.wordsGame .wordsContainer .found3 {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #60A0B6;
  color: #FFF !important;
}
.wordsGame .wordsContainer .char {
  margin: 0;
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
  color: #EEE;
  text-align: center;
  transform-origin: center center;
  animation: loading 2s ease-out;
}
.wordsGame .wordsContainer .charReverse {
  animation: loadingreverse 1s ease-out;
}
.wordsGame .wordsContainer .wordsContainerBg {
  height: 405px;
  width: 630px;
  position: absolute;
  -webkit-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  top: 20px;
  left: 15px;
  z-index: 1;
  background-color: #1A1A1A;
}
.wordsGame .wordsContainer .floatingLlama {
  height: 401px;
  width: 410px;
  position: absolute;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  background-image: url(../img/llama-no-body.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: -170px;
  right: -85px;
  z-index: 0;
}
.projects {
  height: auto;
  width: 100%;
  min-height: 750px;
  padding-top: 100px;
}
.projects:after {
  content: " ";
  display: block;
  clear: both;
}
.projects .sectionTitle {
  margin: 0 auto;
  max-width: 800px;
  text-align: right;
  padding-right: 40px;
}
.projects .videoBox {
  height: 500px;
  width: 100%;
  position: relative;
}
.projects .videoBox:after {
  content: " ";
  display: block;
  clear: both;
}
.projects .videoBox .video {
  height: 380px;
  width: 60%;
  position: absolute;
  min-width: 650px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.12);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}
.projects .videoBox .video:before {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  content: ' ';
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
}
.projects .videoBox .video:hover,
.projects .videoBox .video:active {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 20px 70px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 20px 70px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 20px 70px 10px rgba(0, 0, 0, 0.45);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.projects .videoBox .video:hover:before,
.projects .videoBox .video:active:before {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.25);
}
.projects .videoBox .playBtn {
  height: 45px;
  width: 190px;
  position: absolute;
  font-family: 'regloregular';
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 5px 30px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 30px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 30px 6px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  font-size: 1.65em;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 47px;
  text-align: right;
  top: 220px;
  color: #000;
  background-color: #EFE633;
  background-image: url(../svg/playBtn.svg);
  background-position: 9% 50%;
  background-size: 10%;
  background-repeat: no-repeat;
}
.projects .videoBox .monkey {
  height: 327px;
  width: 212px;
  position: absolute;
  z-index: 9;
  left: 100px;
  top: 70px;
  background-image: url(../img/monkey.png);
  background-repeat: no-repeat;
}
.projects .bullets {
  height: 100px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.projects .bullets .bullet {
  height: 50px;
  width: 50px;
  display: inline-block;
  float: none;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #CCC;
}
.contact {
  height: auto;
  width: 700px;
  margin: 0 auto;
  right: -50px;
}
.contact:after {
  content: " ";
  display: block;
  clear: both;
}
.contact .formContainer {
  height: auto;
  width: 450px;
  margin-left: 250px;
  position: relative;
}
.contact .formContainer:after {
  content: " ";
  display: block;
  clear: both;
}
.contact .formContainer .llamaContainer {
  height: 345px;
  width: 201px;
  position: absolute;
  left: -350px;
}
.contact .formContainer .llamaContainer:after {
  content: " ";
  display: block;
  clear: both;
}
.contact .formContainer .llamaContainer .llama {
  height: 345px;
  width: 201px;
  position: absolute;
  background-image: url(../img/llama.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 9;
}
.contact .formContainer .llamaContainer .globe {
  height: 230px;
  width: 230px;
  bottom: -90px;
  z-index: 1;
}
.contact .formContainer .llamaContainer .stripes {
  height: 230px;
  width: 230px;
  bottom: -90px;
  z-index: 1;
}
.contact .formContainer .inputContainer {
  position: relative;
  margin-bottom: 38px;
}
.contact .formContainer .inputContainer:after {
  content: " ";
  display: block;
  clear: both;
}
.contact .formContainer .inputContainer label {
  position: absolute;
  font-family: 'regloregular';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0px;
  font-size: 1.5em;
  pointer-events: none;
}
.contact .formContainer .inputContainer .bottomBar {
  height: 4px;
  width: 0%;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: -2px;
}
.contact .formContainer .inputContainer .input {
  height: 40px;
  width: 100%;
  font-family: 'regloregular';
  font-size: 1.8em;
  border: 0;
  border-bottom: 3px solid #111;
  background: none;
  padding: 0;
  outline: none;
}
.contact .formContainer .inputContainer .input:focus ~ label,
.contact .formContainer .inputContainer .input:valid ~ label,
.contact .formContainer .inputContainer .input:invalid ~ label {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: -20px;
  font-size: 1em;
  color: #528FA8;
}
.contact .formContainer .inputContainer .input:empty ~ label {
  position: absolute;
  font-family: 'regloregular';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #666;
  top: 0px;
  font-size: 1.5em;
  pointer-events: none;
}
.contact .formContainer .inputContainer .textarea {
  height: 130px;
  width: 100%;
  font-family: 'regloregular';
  font-size: 2em;
  border: 0;
  padding: 0;
  border-bottom: 4px solid #111;
  background: none;
  outline: none;
  resize: none;
}
.contact .formContainer .inputContainer .textarea:focus ~ .bottomBar {
  height: 5px;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.03);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  bottom: 3px;
  background-color: #7AD3E8;
}
.contact .formContainer .inputContainer .textarea:focus ~ label,
.contact .formContainer .inputContainer .textarea:valid ~ label {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: -20px;
  font-size: 1em;
  color: #528FA8;
}
.contact .formContainer .inputContainer .input:focus ~ .bottomBar {
  height: 5px;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.03);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  bottom: -2px;
  background-color: #7AD3E8;
}
.contact .formContainer .inputContainer .input:focus ~ label,
.contact .formContainer .inputContainer .input:valid ~ label {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: -20px;
  font-size: 1em;
  color: #528FA8;
}
.contact .formContainer .submit {
  height: 40px;
  width: 130px;
  font-family: 'regloregular';
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #EFE633;
  text-align: center;
  font-size: 1.5em;
}
.footer {
  height: 170px;
  width: 100%;
  position: relative;
  margin-top: 150px;
  overflow: hidden;
}
.footer .copyright {
  float: left;
  font-family: 'regloregular';
  color: #111;
  font-size: 1.1em;
  margin-top: 15px;
}
.footer .meerkatsBox {
  height: 500px;
  width: 310px;
  position: absolute;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  left: 50%;
  bottom: -300px;
  margin-left: -145px;
}
.footer .meerkatsBox .meerkats {
  height: 360px;
  width: 280px;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/meerkats.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.footer .socialMedias {
  position: absolute;
  right: 40px;
}
.footer .socialMedias:after {
  content: " ";
  display: block;
  clear: both;
}
.footer .logo {
  height: 55px;
  width: 65px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(../svg/logo-dark.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.socialBtn {
  height: 32px;
  width: 32px;
  float: left;
  display: inline-block;
  vertical-align: top;
  background-size: 100%;
  background-position: 50% 50%;
}
.facebook {
  background-image: url(../svg/social-media-facebook.svg);
  margin-right: 12px;
}
.instagram {
  background-image: url(../svg/social-media-instagram.svg);
}
@media only screen and (max-device-width: 1000px) {
  .firstSection .titlesBox .weAreBox .weAre {
    font-size: 5.5em;
  }
}
@media only screen and (max-width: 1000px) {
  .firstSection .titlesBox .weAreBox .weAre {
    font-size: 5.5em;
  }
}
@media only screen and (max-device-width: 950px) {
  .headerBtn {
    height: 100px;
    width: 100px;
  }
  .headerBtn .line {
    height: 9px !important;
    margin-top: 22px;
  }
  .headerOverlay .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .headerOverlay .menu {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    float: none;
  }
  .headerOverlay .menu .menuBtnBox {
    text-align: center;
  }
  .headerOverlay .menu .menuBtnBox .menuBtn {
    width: 100%;
    text-align: center;
    font-size: 7em;
    padding: 0;
  }
  .headerOverlay .meerkatsBox {
    display: none;
  }
  .firstSection .videoBox .playBtn {
    bottom: 10px;
  }
  .firstSection .socialIcons {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .firstSection .videoBox .playBtn {
    bottom: 10px;
  }
  .firstSection .titlesBox .weAreBox .weAre {
    font-size: 5.7em;
  }
  .firstSection .socialIcons {
    display: none;
  }
}
@media only screen and (max-device-width: 900px) {
  .contact .formContainer {
    float: none;
    margin: 0 auto;
  }
  .contact .formContainer .llamaContainer {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .contact .formContainer {
    float: none;
    margin: 0 auto;
  }
  .contact .formContainer .llamaContainer {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .headerOverlay .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .headerOverlay .menu {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    float: none;
  }
  .headerOverlay .menu .menuBtnBox {
    text-align: center;
  }
  .headerOverlay .menu .menuBtnBox .menuBtn {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .headerOverlay .menu .menuBtnBox .menuBtn .line {
    background-color: #FFF !important;
  }
  .headerOverlay .meerkatsBox {
    display: none;
  }
  .sectionTitle {
    width: 90%;
    font-size: 7em;
    margin: 0 auto;
    text-align: center;
  }
  .contact .formContainer {
    margin-top: 50px;
  }
  .contact .formContainer .submit {
    height: 100px;
    width: 100%;
    text-align: center;
  }
  .firstSection .titlesBox .weAreBox .weAre {
    font-size: 4.5em;
  }
  .firstSection .videoBox .playBtn {
    bottom: 10px;
  }
}
@media only screen and (max-device-width: 750px) {
  .headerOverlay .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .headerOverlay .menu {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    float: none;
  }
  .headerOverlay .menu .menuBtnBox {
    text-align: center;
  }
  .headerOverlay .menu .menuBtnBox .menuBtn {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .headerOverlay .menu .menuBtnBox .menuBtn .line {
    background-color: #FFF !important;
  }
  .headerOverlay .meerkatsBox {
    display: none;
  }
  .firstSection .videoBox {
    height: 550px;
    width: 100%;
  }
  .firstSection .videoBox .video {
    height: 700px;
    width: 80%;
    margin-top: 50px;
  }
  .firstSection .videoBox .playBtn {
    position: absolute;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    bottom: -630px;
  }
  .firstSection .meerkatsBox {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    top: 90px;
  }
  .firstSection .titlesBox .weAreBox .weAre {
    font-size: 12em;
  }
  .firstSection .titlesBox .weAreHere {
    font-size: 3.5em;
    margin-top: 120px;
  }
  .sectionTitle {
    width: 90%;
    font-size: 7em;
    margin: 0 auto;
    text-align: center;
  }
  .contact {
    width: 80%;
    margin: 0 auto;
  }
  .contact .formContainer {
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    margin-top: 50px;
  }
  .contact .formContainer .inputContainer {
    margin-bottom: 80px;
  }
  .contact .formContainer .inputContainer .input {
    height: 80px;
  }
  .contact .formContainer .inputContainer .textarea {
    height: 200px;
  }
  .contact .formContainer .inputContainer:last-child {
    margin-bottom: 20px !important;
  }
  .contact .formContainer .submit {
    height: 100px;
    width: 100%;
    text-align: center;
  }
  .footer {
    min-height: 550px;
  }
  .footer:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer .meerkatsBox {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    bottom: -360px;
  }
  .footer .logo {
    height: 90px;
    width: 120px;
  }
  .footer .copyright {
    height: auto;
    width: 100%;
    margin-top: 130px;
    font-size: 2.3em;
    text-align: center;
  }
  .footer .socialMedias {
    height: auto;
    width: 170px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 230px;
  }
  .footer .socialMedias .socialBtn {
    height: 75px;
    width: 75px;
    margin-right: 20px;
  }
  .footer .socialMedias .socialBtn:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 550px) {
  .headerOverlay .menu {
    position: relative;
    margin: 0 auto;
    float: none;
    margin-top: 27%;
  }
  .headerOverlay .menu .menuBtn .line {
    background-color: #FFF !important;
  }
}
