@import 'mixins.less';

@keyframes loading{
  0%{
    transform: translateX( 0% ) rotateY( -1500deg );
  } 
  100%{
    transform: translateX( 0% ) rotateY( 0 );
  }
}
@keyframes blurout{
  0%{
    .blur(0);
  } 
  100%{
    .blur(30px);
  }
}
@keyframes loadingreverse{
  0%{
    transform: translateX( 0 ) rotateY( 1700deg );
  } 
  100%{
    transform: translateX( 0% ) rotateY( 0 );
  }
}
@keyframes rotatestripes{
  0%{
    .rotate(0);
  } 
  100%{
    .rotate(-360deg);
  }
}
@keyframes rotateglobe{
  0%{
    .rotate(0);
  } 
  100%{
    .rotate(360deg);
  }
}

@keyframes allfoundone{
  0%{
    background-color: rgba(179, 26, 141, 1);
  }
  20%{
    background-color: rgba(179, 26, 141, 0.5);
  }
  40%{
    background-color: rgba(179, 26, 141, 1);
  }
  60%{
    background-color: rgba(179, 26, 141, 0.5);
  }
  80%{
    background-color: rgba(179, 26, 141, 1);
  }
  80%{
    background-color: rgba(179, 26, 141, 0.5);
  }
  100%{
    background-color: rgba(179, 26, 141, 1);
  }
}
@keyframes allfoundtwo{
  0%{
    background-color: rgba(239, 230, 51, 1);
  }
  20%{
    background-color: rgba(239, 230, 51, 0.5);
  }
  40%{
    background-color: rgba(239, 230, 51, 1);
  }
  60%{
    background-color: rgba(239, 230, 51, 0.5);
  }
  80%{
    background-color: rgba(239, 230, 51, 1);
  }
  80%{
    background-color: rgba(239, 230, 51, 0.5);
  }
  100%{
    background-color: rgba(239, 230, 51, 1);
  }
}
@keyframes allfoundthree{
  0%{
    background-color: rgba(96, 160, 182, 1);
  }
  20%{
    background-color: rgba(96, 160, 182, 0.5);
  }
  40%{
    background-color: rgba(96, 160, 182, 1);
  }
  60%{
    background-color: rgba(96, 160, 182, 0.5);
  }
  80%{
    background-color: rgba(96, 160, 182, 1);
  }
  80%{
    background-color: rgba(96, 160, 182, 0.5);
  }
  100%{
    background-color: rgba(96, 160, 182, 1);
  }
}
@keyframes changedarkbg{
  0%{
    background-color: #111;
  }
  35%{
    background-color: #000;
  }
  70%{
    background-color: #222;
  }
  100%{
    background-color: #111;
  }
}
@keyframes changebgcolour{
  0%{
    background-color: #B20099;
  }
  35%{
    background-color: #EFE633;
  }
  70%{
    background-color: #60A0B6;
  }
  100%{
    background-color: #B20099;
  }
}
@keyframes playbtnbg{
  0%{
    background-color: #EFE633;
  }
  28%{
    background-color: #EFE633;
  }
  35%{
    background-color: #B20099;
  }
  62%{
    background-color: #B20099;
  }
  70%{
    background-color: #60A0B6;
  }
  92%{
    background-color: #60A0B6;
  }
  100%{
    background-color: #EFE633;
  }
}
